openapi: 3.0.1
info:
  title: Trend Micro Vision One - Minimal API
  version: '1.0.0'
servers:
  - url: https://api.xdr.trendmicro.com
paths:
  /v3.0/workbench/alerts:
    get:
      summary: List Workbench alerts
      parameters:
        - name: startDateTime
          in: query
          schema:
            type: string
        - name: endDateTime
          in: query
          schema:
            type: string
        - name: severity
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
  /v3.0/workbench/alerts/{alertId}:
    get:
      summary: Get Workbench alert details
      parameters:
        - name: alertId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /v3.0/endpoints:
    get:
      summary: List endpoints
      parameters:
        - name: hostname
          in: query
          schema:
            type: string
        - name: os
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
  /v3.0/endpoints/{endpointId}:
    get:
      summary: Get endpoint details
      parameters:
        - name: endpointId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
