openapi: 3.0.1
info:
  title: Trend Micro Vision One - Minimal OpenAPI
  version: '1.0.0'
servers:
  - url: https://api.xdr.trendmicro.com
paths:
  /v3.0/workbench/alerts:
    get:
      operationId: GetWorkbenchAlerts
      summary: List Workbench alerts
      parameters:
        - name: startDateTime
          in: query
          schema:
            type: string
        - name: endDateTime
          in: query
          schema:
            type: string
        - name: severity
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
  /v3.0/workbench/alerts/{alertId}:
    get:
      operationId: GetWorkbenchAlertDetails
      summary: Get Workbench alert details
      parameters:
        - name: alertId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /v3.0/endpointSecurity/endpoints:
    get:
      operationId: GetEndpointList
      summary: Get endpoint list (Endpoint Security API)
      parameters:
        - name: hostname
          in: query
          schema:
            type: string
        - name: os
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
  /v3.0/endpointSecurity/endpoints/{id}:
    get:
      operationId: GetEndpointDetailsById
      summary: Get endpoint details by id (Endpoint Security API)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /v3.0/response/endpoints/isolate:
    post:
      operationId: IsolateEndpoint
      summary: Isolate an endpoint (Response API)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpointId:
                  type: string
                isolationType:
                  type: string
                  description: 'isolation type, e.g. network'
      responses:
        '200':
          description: OK
  /v3.0/response/endpoints/restore:
    post:
      operationId: RestoreEndpoint
      summary: Restore an isolated endpoint (Response API)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpointId:
                  type: string
                restoreType:
                  type: string
                  description: 'restore type, e.g. full or network'
      responses:
        '200':
          description: OK
